/* Sidebar.css */

.sidebar {
  height: 100vh;
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
  width: 60px;
  overflow-x: hidden;
  display: flex;
 
}

.sidebar.expanded {
  width: 250px;
}

.sidebar-header {
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.sidebar-title {
  display: none;
}

.sidebar.expanded .sidebar-title {
  display: inline;
}

.sidebar-logo {
  height: 30px;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  height: calc(100vh - 60px); /* Adjust height based on sidebar header */
}


.nav-item {
  width: 100%;
}

.sidebar-item {
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sidebar-item .item-content {
  display: flex;
  align-items: center;
}

.sidebar-item .item-label {
  margin-left: 10px;
  display: none;
}

.sidebar.expanded .sidebar-item .item-label {
  display: inline;
}

.sidebar-item:hover,
.sidebar-item.active {
  background-color: #444;
}

.sidebar-item.expanded {
  background-color: #444;
}

.chevron-icon {
  margin-left: auto;
}

.sub-nav {
  background-color: #2a2a2a;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
}

.sub-item {
  padding-left: 40px;
  display: flex; /* Ensure sub-items are flex containers */
  align-items: center;
  color: #ced4da;
  white-space: nowrap;
}

.sub-item:hover {
  background-color: #6c757d;
  color: #fff;
}

.sidebar-footer {
  padding: 20px 10px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    z-index: 100;
    height: 100vh;
  }

  .sidebar:not(.expanded) {
    width: 0;
  }

  .sidebar.expanded {
    width: 250px;
  }

  .sidebar-title {
    display: none; /* Hide title when not expanded */
  }

  .sidebar.expanded .sidebar-title {
    display: inline;
  }
}
